body {
    margin: 0px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: black;
    height: 100vh;
    width: 100vw;
}

canvas {
    min-height: 1px;
    max-height: 100vh;
    max-width: 100vw;
    height: 100%;
    width: auto;
    aspect-ratio: 16/9;
    background-color: white;
}

@media (max-aspect-ratio: 16/9) {
    canvas {
        height: auto;
        width: 100%;
    }
}